<div class="col-lg-12 col-md-12">
  <%= form_tag('/convert', method: :get, id: 'exchange_form') do %>
    <div class="row justify-content-center align-items-center">

      <div class="col-lg-4 col-md-4 col-10">
        <div class="group">
          <div class="input-group">
            <label for="amount" class='title'>Seu dinheiro:</label>
            <input type='number' id='amount' name='amount' placeholder='$' required="true" >
          </div>
          <div  class="select-group">
            <%= select_tag 'source_currency', options_for_select(currency_list, 'BRL'), id: 'source_currency' %>
          </div>
        </div>
      </div>

      <div class="w-200 col-md-2 col-10">
        <div class="converter-group justify-content-center" data-js='reverseCurrency'>
          <svg id="converter" style="height: 50px; width: 50px; padding: 5px;">
            <use xlink:href="<%=image_url('symbols.svg')%>#converter" />
          </svg>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-10">
        <div class="group">
          <div class="input-group">
            <label for="result" >Conversão: </label>
            <input type='text' id='result' name='result' placeholder='$' readonly>
          </div>
          <div class="select-group">
            <%= select_tag 'target_currency', options_for_select(currency_list, 'EUR'), id: 'target_currency' %>
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-center align-items-center">
      <div class="class="col-lg-12">
          <div>
            <button type='submit' class='btn btn-primary invisible'>CONVERTER</button>
          </div>
      </div>
    </div>
  <% end %>
</div>
