.group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 0;
    color:#666;
  }
}

.input-group,
.select-group {
  color: #333;
}

.input-group {
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  background-color: #fff;

  label {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    color: #324A5E;
    font-weight: bold;
  }

  input {
    padding: 5px;
  }
}

.select-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  select {
    padding: 5px;
    border: 0;
    border-radius: 0 5px 5px 0;
    background-color: #f3f3f3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
    font-weight: bold;
  }
}

.converter-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 15px;
}

path {
    transition: fill;
}
#converter {
  fill:#eee;
}

#converter:hover {
  -webkit-transition: fill;
  -moz-transition: fill;
  -o-transition: fill;
  transition: fill;
  fill: #bbb;
}
