body, html {
  height: 100%;
  width: 100%;
  background-color: #37517e;
}

.container {
  min-height: 100%;

  .box {
    height: 100%;
  }
}

.icon {
  font-size: 20px;

  font-weight: bold;
  padding: 5px 5px 0;

  a {
    color: #fff;
    text-decoration: none;

  }
}

.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-header {
  padding: 5px 10px 30px;
  font-family: 'Roboto', sans-serif;

  small {
    display: block;
  }
}


.app-title {
  font-size: 34px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  line-height: 0.9;
}


.footer {
  color: #fff;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  line-height: 0.9;
  div {
    height: 100%;
  }

  p {
    text-align: center;
  }
}

.credits {
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;

  p {
    margin: 0;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

}

.credits-links {
  position: relative;
  display: none;
  padding: 5px;
  width: 100%;

  p {
    li  .app-header {

  }ne-height: 0.9;
  }
}

@media (max-width: 425px) {
  #map {
    display: none;
  }

  .app-title {
    small {
      display: inline;
    }
  }

  .input-group input {
    padding: 0;
  }
}

@media (max-height: 590px) {
  .footer {
    position: static;
    margin-top: 20px;
  }
}
